/*Обнуляющие стили*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   width: 100%;
   height: 100%;
   font-size: 14px;
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style-type: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-style: inherit;
   font-weight: 400;
}

html,
body {
   font-family: Roboto;
   color: #fff;
   background-color: #282828;
   scroll-behavior: smooth;
}
body::-webkit-scrollbar {
   width: 0;
}

/*Код*/
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.title {
   font-size: 36px;
   line-height: 42px;
   margin: 0px auto 60px auto;
   font-weight: 700;
   @media (max-width: 1150px) {
      font-size: 36px;
   }
   @media (max-width: 1050px) {
      margin: 0px auto 50px auto;
      font-size: 30px;
   }
   @media (max-width: 776px) {
      margin: 0px auto 40px auto;
      font-size: 24px;
   }
}

.container {
   max-width: 1400px;
   padding: 0 15px;
   margin: 0 auto;
}

.menu {
   position: fixed;
   top: 50%;
   right: 0;
   background: #000;
   border-radius: 10px 0 0 10px;
   transform: translateY(-50%);
   @media (max-width: 776px) {
      display: none;
   }
}

.menu a {
   display: block;
   width: 15px;
   height: 15px;
   margin: 3px;
   border-radius: 50%;
   background-color: #1fa7c0;
}
.menu a:hover {
   background-color: #29cbe8;
}

.content {
}
.name {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px 0px 0px 0px;
}
.name__about {
   margin: 0px 0px 60px 0px;
   font-size: 36px;
   text-align: center;
   font-weight: 700;
   @media (max-width: 1150px) {
      font-size: 30px;
      margin: 0px 0px 45px 0px;
   }
   @media (max-width: 1050px) {
      font-size: 24px;
   }
}
.name__container {
   display: flex;
   @media (min-width: 776px) {
      justify-content: space-between;
   }
   @media (max-width: 776px) {
      flex-direction: column;
   }
}
.name__info {
   @media (max-width: 776px) {
      order: 2;
   }
}
.name__me {
   font-size: 30px;
   font-weight: 600;
   line-height: 34px;
   margin: 0px 0px 35px 0px;

   @media (max-width: 1150px) {
      font-size: 26px;
      line-height: 34px;
      margin: 0px 0px 25px 0px;
   }
   @media (max-width: 1050px) {
      font-size: 22px;
      line-height: 26px;
      margin: 0px 0px 15px 0px;
   }
}
.name__text {
   font-size: 24px;
   font-weight: 400;
   line-height: 38px;
   @media (max-width: 1150px) {
      font-size: 20px;
      line-height: 34px;
   }
   @media (max-width: 1050px) {
      font-size: 16px;
      line-height: 24px;
   }
}

.name__text p:not(:last-child) {
   margin: 0px 0px 20px 0px;
   @media (max-width: 1050px) {
      margin: 0px 0px 10px 0px;
   }
}
.name__btn {
}
.name__image {
   position: relative;
   flex: 0 0 530px;
   padding: 0px 10px 0px 30px;

   @media (max-width: 1150px) {
      flex: 0 0 430px;
   }
   @media (max-width: 1050px) {
      flex: 0 0 350px;
   }
   @media (max-width: 776px) {
      flex: 1 1 auto;
      max-width: 500px;
      order: 1;
      margin: 0px auto 20px auto;
   }
}
.name__image img {
   width: 100%;
}

.interests {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding: 30px 0px 0px 0px;
}
.interests__title {
   text-align: center;
   padding: 0px 0px 0px 5px;
}

.interests__cards {
   @media (min-width: 1240px) {
      display: flex;
      margin: 0 -15px;
   }
}
.interests__card {
   @media (min-width: 1240px) {
      padding: 0 15px;
      flex: 0 1 33.333%;
   }
   @media (max-width: 1240px) {
      max-width: 800px;
   }
}
.interests__card:not(:last-child) {
   @media (max-width: 1240px) {
      margin: 0px 0px 20px 0px;
   }
}
.interests__item {
   padding: 40px 30px;
   background-color: #464646;
   display: flex;
   flex-direction: column;
   height: 100%;
   text-align: center;
   box-shadow: inset 0 0 10px 3px #282828;
   @media (max-width: 1240px) {
      padding: 40px 80px;
   }
   @media (max-width: 776px) {
      padding: 30px 40px;
   }
   @media (max-width: 472px) {
      padding: 30px 30px;
   }
}
.item__interests {
}
.interests__icon {
   margin: 0px 0px 20px 0px;
   border: 3px solid #1fa7c0;
   border-radius: 50%;
   display: inline-block;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 35px auto;
   @media (max-width: 776px) {
      margin: 0 auto 25px auto;
      width: 90px;
      height: 90px;
   }
}
.interests__icon img {
   fill: currentColor;
}

.interests__subtitle {
   font-size: 26px;
   margin: 0px 0px 20px 0px;
   font-weight: 600;
   letter-spacing: 1.4px;
   @media (max-width: 776px) {
      font-size: 22px;
   }
   @media (max-width: 472px) {
      font-size: 20px;
   }
}
.interests__text {
   font-size: 22px;
   line-height: 36px;
   @media (max-width: 776px) {
      font-size: 18px;
      line-height: 32px;
   }
   @media (max-width: 472px) {
      font-size: 16px;
      line-height: 24px;
   }
}

.friends {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   @media (min-width: 776px) {
      min-height: 100vh;
   }
   @media (max-width: 776px) {
      padding: 40px 0px 0px 0px;
   }
   @media (max-width: 472px) {
      padding: 20px 0px 0px 0px;
   }
}
.friends__container {
   text-align: center;
}

.friends__title {
   @media (max-width: 472px) {
      margin: 0px 0px 20px 0px;
   }
}
.friends__image {
   margin: 0 auto;
   max-width: 746px;
}
.friends__image img {
   height: 100%;
   width: 100%;
}

.town {
   padding: 30px 0px 40px 0px;
   @media (max-width: 472px) {
      padding: 20px 0px 0px 0px;
   }
}
.town__container {
   text-align: center;
}

.town__title {
   @media (max-width: 472px) {
      margin: 0px 0px 20px 0px;
   }
}
.town__main {
   max-width: 820px;

   margin: 0px auto 40px auto;
   @media (max-width: 1050px) {
      margin: 0px auto 20px auto;
   }
}
.town__main img {
   height: 100%;
   width: 100%;
}
.town__pictures {
   display: flex;
   margin: 0 -15px;
   justify-content: center;
   flex-wrap: wrap;
   @media (max-width: 776px) {
      margin: 0 -10px;
   }
}
.town__picture {
   padding: 0 15px;
   flex: 0 1 25%;
   @media (max-width: 776px) {
      padding: 0 10px;
   }
   @media (max-width: 776px) {
      flex: 0 1 50%;
      margin: 0px 0px 20px 0px;
   }
}

.town__picture img {
   width: 100%;
   height: 100%;
}

/*Стили для страничек друзей*/
.about {
   padding: 60px 0px 0px 0px;
}
.about__container {
}
.about__img {
   margin: 0px 30px 0px 0px;
   flex: 0 0 300px;
}

.about__img img {
   width: 100%;
}
.about__info {
   display: flex;
   align-items: flex-end;
   margin: 0px 0px 150px 0px;
}
.about__name {
   font-size: 42px;
   text-transform: uppercase;
   font-weight: 600;
   text-align: center;
   margin: 0px 0px 50px 0px;
}
.about__text {
   font-size: 26px;
   line-height: 34px;
   font-weight: 500;
}

.about__text p {
   margin: 0px 0px 40px 0px;
}

.about__text span {
   font-size: 50px;
}

.about__button {
   display: block;
   width: 200px;
   background-color: #1c98ae;
   box-shadow: inset 0 0 10px 3px #0d4651;
   padding: 20px 20px;
   color: #fff;
   margin: 0 auto;
   text-align: center;
   font-size: 24px;
}
.about__button:hover {
   background-color: #188295;
   box-shadow: inset 0 0 10px 3px #0a353d;
   color: #eeeeee;
}
